In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [6]:
df = pd.read_csv("titanic.csv")

In [7]:
df.dropna(inplace=True)

Гипотеза о медиане

In [8]:
test_data = df['Age'][:10]

In [9]:
test_data

1     38.0
3     35.0
6     54.0
10     4.0
11    58.0
21    34.0
23    28.0
27    19.0
52    49.0
54    65.0
Name: Age, dtype: float64

In [16]:
# H0 - M = 20
# S-статистика
M = 20

In [15]:
S = min(test_data[test_data>M].count(),test_data[test_data<M].count())
S

2

In [14]:
# по таблице alpha = 0.05
# S_critical = 2
# S = 2 < S_critical =2, гипотеза не отвергается

другой пример

In [17]:
test_data = df['Age'][40:80]

In [18]:
Sz = min(test_data[test_data>M].count(),test_data[test_data<M].count())
Sz

7

In [22]:
# Z_critical(a/2 = 0.975) = 1.96
Z = (2*Sz + 1 - test_data.count()) / math.sqrt(test_data.count())
Z

-3.952847075210474

In [ ]:
#Z = -3.95 <  Z_critical = -1.96, гипотеза отвергается

Однородность для двух выборок разного размера. Однородность

In [97]:
x = df['Age'][100:105]

In [98]:
x

498    25.0
504    16.0
505    18.0
512    36.0
515    47.0
Name: Age, dtype: float64

In [99]:
y = df['Age'][181:185]

In [100]:
y

887    19.0
889    26.0
Name: Age, dtype: float64

In [101]:
xy = pd.concat([x,y])

In [102]:
xy

498    25.0
504    16.0
505    18.0
512    36.0
515    47.0
887    19.0
889    26.0
Name: Age, dtype: float64

In [112]:
rx = sum([xy[xy <= v].count() for v in x])

In [113]:
ry = sum([xy[xy <= v].count() for v in y])

In [114]:
w = min(rx,ry)

In [115]:
w

8

In [ ]:
# alpha = 0.05
# W_critical = 1
# W = 8 > W_critical = 1, гипотеза не отвергается

Коэффициент корреляции Спирмена

In [61]:
x = df['Age'][50:55]
x

275    63.0
291    19.0
292    36.0
297     2.0
299    50.0
Name: Age, dtype: float64

In [62]:
y = df['Age'][90:95]
y

453    49.0
456    65.0
460    48.0
462    47.0
473    23.0
Name: Age, dtype: float64

In [63]:
xy = pd.concat([x,y])

In [81]:
rx = [x[x <= v].count() for v in x]

In [82]:
ry = [y[y <= v].count() for v in y]

In [83]:
print(rx,ry)

[5, 2, 3, 1, 4] [4, 5, 3, 2, 1]

In [84]:
d = pd.DataFrame(rx) - pd.DataFrame(ry)

In [85]:
d

   0
0  1
1 -3
2  0
3 -1
4  3

In [86]:
d2 = d**2
d2

   0
0  1
1  9
2  0
3  1
4  9

In [87]:
n = d2.count()
n

0    5
dtype: int64

In [94]:
rs = 1.0 - 6.0/(n**3 - n)*d2.sum()

In [95]:
rs

0    0.0
dtype: float64

In [ ]:
# t = 0
# alpha = 0.05
# t = 0 < t_critical = 3.18 гипотеза о значимости отвергается (НЕ отвергается гипотеза о НЕЗНАЧИМОСТИ)